// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

html {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #151515;
    scroll-behavior: smooth;
}

hr {
    width: 90%;
    @include respond-to('large'){
        width: 77%;
    }
}

p {
    color: $light-grey;
}

.space {
    white-space: pre;
}

img.desktop {
    display: none;
    @include respond-to('large'){
        display: block;
    }
}

img.phone {
    @include respond-to('large'){
        display: none;
    }
}